<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新闻</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" href="/css/news.css">
    <!--导入jquery-->
    <script src="/js/jquery-3.5.1.min.js"></script>


    <link href="/font-awesome/css/font-awesome.css?v=4.3.0" rel="stylesheet">
    <link href="/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">



</head>
<body>
<!--引入头部-->
<header id="header">

</header>
<!-- 头部 end -->
<div class="rg_layout">
    <div class="rg_form clearfix" >
        <h1 class="text-center" style="font-size: 30px" th:text="${newsInfo.news_title}">新闻标题
            <br/>
        </h1>
        <h5 class="text-center" th:text="${newsInfo.news_create_date}" style="font-size: 15px">
            发布时间
        </h5>
        <h5 class="text-center" th:text="${newsInfo.com_name}" style="font-size: 15px">新闻发布商</h5>
        <br/>
        <img th:src="'http://localhost:8080/images/'+${newsInfo.news_img_url}" onerror="this.style.display='none'" class="center-block" alt="Responsive image" height="300">
        <div class="row">
            <div class="col-lg-10">
                <div class="col-md-10 col-md-offset-1">
                    <pre class="container-fluid" th:text="${newsInfo.news_content}" style="background:none;border:none;white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;line-height: 30px">新闻内容</pre>
                </div>
            </div>


        </div>
        <br/>



        <br/>
<!--        <a th:href="@{''+${newsInfo.news_product}}">-->
<!--            <p class="text-center">由此进入相关景点界面</p>-->
<!--        </a>-->
        <br/>




    </div>
</div>
<!--引入尾部-->
<footer id="footer">

</footer>
<script src="/js/include.js"></script>
</body>
</html>